.header {
  overflow: hidden;
  background-color: #eeebeba4;
  padding: 20px 10px;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.05);
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

.header input[type="text"] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 15px;
  padding-left: 15px;
  margin-left: 15px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.03);
}

#contact {
  background-color: rgb(75, 145, 224);
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.05);
}

#loader {
  display: none;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.landing-page {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(99, 154, 218, 0.2);
}

.error-message {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(218, 99, 99, 0.2);
}

.user-header {
  padding: 5%;
  display: flex;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#user-link {
  margin-top: 10px;
}

.main-content {
  padding-bottom: 1%;
  background-color: rgba(99, 154, 218, 0.075);
}

#pagination-controls {
  display: flex;
  align-items: center;
  margin: 15px;
}

#pagination-controls label {
  margin-right: 8px;
}

#pagination-controls select {
  padding: 10px;
  border: none;
  margin-top: 8px;
  font-size: 17px;
  border-radius: 25px;
  margin-left: 15%;
  margin-bottom: 5px;
  width: 35%;
  background-color: white;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.05);
}

#pagination-controls option {
  border-radius: 25px;
}

#pagination-controls button {
  padding: auto;
  margin-right: 12px;
  border-radius: 5px;
  border: 0.5px solid gray;
  background-color: #e6e6e6a4;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.05);
}

#pagination-controls button.current-page {
  background-color: rgb(75, 145, 224);
  color: white;
}

#repositoryFilter {
  padding: 6px;
  border: none;
  margin-top: 8px;
  font-size: 17px;
  border-radius: 25px;
  padding: 15px;
  margin-left: 15%;
  margin-bottom: 5px;
  width: 50%;
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.05);

  /* Center horizontally */
  display: block;
  margin: auto;
}

#avatar {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
  margin-left: 15%;
  margin-right: 15%;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.05);
}

.repository-container {
  margin-bottom: 20px;
  padding: 10px;
  width: 48%;
  box-sizing: border-box;
  margin-left: 1%;
  border-radius: 25px;
  background-color: rgb(228 228 228 / 25%);
  backdrop-filter: blur(8px);
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.08);
}

#repositories-container {
  margin-top: 3%;
  margin-inline: 10%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.topics-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.topic {
  background-color: rgb(75, 145, 224);
  color: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 786px) {
  .header .nav-links {
    float: none;
    display: flex;
    flex-direction: column;
  }

  .header .nav-links a {
    float: none;
    display: block;
    text-align: left;
    margin-bottom: auto;
  }

  #usernameInput {
    width: calc(100% - 30px);
    margin-top: 10px;
    padding: 8px;
    box-sizing: border-box;
  }

  .header-right {
    margin: 12px;
    margin-top: 10px;
  }

  .user-header {
    flex-direction: column;
    align-content: center;
  }

  #avatar {
    width: 250px;
    height: 250px;
    margin-right: 0;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .user-info {
    text-align: center;
  }

  #user-link {
    margin-top: 5px;
  }

  .repository-container {
    width: 98%;
    margin: 1;
    padding: 3;
  }

  #repositories-container {
    gap: 0;
  }

  .topics-container {
    margin-top: 5px;
  }
}
